body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: aliceblue;
}
.btn{
background-color: rgb(241, 155, 93);
padding: 20px 40px;
border-radius: 5px;
box-shadow: 0 4px 8px rgb(0,0,0,.3);
text-decoration: none;
color: black;
position: relative;
overflow: hidden;
}
.btn::before{
    content: "";
    position: absolute;
    background-color:#ff4500;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: width 0.5s,height 0.5s;
}
.btn:hover::before{
    width: 300px;
    height: 300px;
}
.btn span{
    position: relative;
    z-index: 1;

}